In [36]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [37]:
df=pd.read_csv('news_data.csv')

In [38]:
df

                                                     text       category
0       There Were 2 Mass Shootings In Texas Last Week...          CRIME
1       Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2       Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3       Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4       Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT
...                                                   ...            ...
200848  RIM CEO Thorsten Heins' 'Significant' Plans Fo...           TECH
200849  Maria Sharapova Stunned By Victoria Azarenka I...         SPORTS
200850  Giants Over Patriots, Jets Over Colts Among  M...         SPORTS
200851  Aldon Smith Arrested: 49ers Linebacker Busted ...         SPORTS
200852  Dwight Howard Rips Teammates After Magic Loss ...         SPORTS

[200853 rows x 2 columns]

In [39]:
df.head()

                                                text       category
0  There Were 2 Mass Shootings In Texas Last Week...          CRIME
1  Will Smith Joins Diplo And Nicky Jam For The 2...  ENTERTAINMENT
2  Hugh Grant Marries For The First Time At Age 5...  ENTERTAINMENT
3  Jim Carrey Blasts 'Castrato' Adam Schiff And D...  ENTERTAINMENT
4  Julianna Margulies Uses Donald Trump Poop Bags...  ENTERTAINMENT

In [40]:
print("Number of rows",df.shape[0])
print("Number of column",df.shape[1])

Number of rows 200853
Number of column 2

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200853 entries, 0 to 200852
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   text      200853 non-null  object
 1   category  200853 non-null  object
dtypes: object(2)
memory usage: 3.1+ MB

In [42]:
import nltk
from nltk.corpus import stopwords
from string import punctuation
from nltk.stem import PorterStemmer
ps=PorterStemmer()
STOPWORDS=set(stopwords.words('english'))

In [43]:
def transform_text(text):
    text=text.lower()
    
    word_arr=nltk.word_tokenize(text)
    correct=[]
    for word in word_arr:
        if(word.isalnum())and (word not in STOPWORDS) and (word not in punctuation):
            correct.append(ps.stem(word))
    return " ".join(correct)

In [ ]:
df['text']=df['text'].apply(transform_text)

In [ ]:
df['category']=df['text'].apply(transform_text)

In [56]:
df=df[['text','category']]
df.head()

,text,category
0,2 mass shoot texa last week 1 tv left husband ...,2 mass shoot texa last week 1 tv left husband ...
1,smith join diplo nicki jam 2018 world cup offi...,smith join diplo nicki jam 2018 world cup offi...
2,hugh grant marri first time age actor longtim ...,hugh grant marri first time age actor longtim ...
3,jim carrey blast adam schiff democrat new artw...,jim carrey blast adam schiff democrat new artw...
4,julianna marguli use donald trump poop bag pic...,julianna marguli use donald trump poop bag pic...

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(max_features=10)
text=tfidf.fit_transform(df['category']).toarray()

In [53]:
text

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.58248233, 0.        ,
        0.59357685],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [54]:
print("Shape of transform text",text.shape)

Shape of transform text (200853, 10)